@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

html, body {
	position: relative;
	margin: 0;
	padding: 0;
	font-family: "Poppins", sans-serif;
	font-weight: 400;
	background: #fff;
	color: #18283E;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-size: 16px;
	overflow-x: hidden;
}

.app-bg-primary, .app-btn-primary {
	background-color: #5A20CB;
}

.app-btn-primary {
	box-shadow: none;
}

.app-btn-primary:hover, .app-btn-primary:focus {
	background-color: #480aba;
	outline: none;
	box-shadow: none;
}

.app-btn-secondary {
	background-color: #dbddff;
}

.app-btn-warning {
	background-color: #FBDA61;
	background-image: linear-gradient(45deg, #FBDA61 0%, #FF5ACD 100%);
	box-shadow: none;
}

.app-btn-warning:hover, .app-btn-warning:focus {
	outline: none;
	box-shadow: none;
}

.app-btn-hover {
	transition: 200ms ease-out;
	-o-transition: 200ms ease-out;
	-ms-transition: 200ms ease-out;
	-moz-transition: 200ms ease-out;
	-webkit-transition: 200ms ease-out;
}

.app-btn-hover:hover {
	transform: scale(1.1);
	transition: 200ms ease-in;
	-o-transition: 200ms ease-in;
	-ms-transition: 200ms ease-in;
	-moz-transition: 200ms ease-in;
	-webkit-transition: 200ms ease-in;
}

.app-text-primary {
	color: #5A20CB;
}
